*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Encabezado */

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
}

.menu__logo{
    width: 110px;
    height: 110px;
    display: flex;
    padding: 30px;
}

nav ul li{
    display: inline;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding-right: 70px;
}


/* Fin de encabezado */

/* main */

.contacto{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}


.contacto__caja{
    height: 430px;
    width: 1127.200px;
    background-image: url(../img/pexels-anna-tis-10156916.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.contacto__info{
    width: 220px;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}


.contacto__formulario{
    width: 620px;
    height: 260px;
    border: inset 2px rgb(56, 37, 0);
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    color: black;
}

/* fin de main */

/* footer */


.footer__redes{
    height: 100px;
    background-color: #0D0C0C;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    padding: 15px;
}


.footer__iconos{
    display: flex;
    flex-flow: row wrap;
}
