$titulo: 'Great Vibes', cursive;
$parrafo: 'Gideon Roman', cursive;

@mixin letra($estilo, $size) {
    font-family: $estilo;
    font-size: $size;
}

$colores: (
    titulo: #FFFFFF,
    parrafo: #F2F2F2,
);

@each $valor, $color in $colores {
    .color--#{$valor} {
        color: $color;
    }
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}




/* Encabezado */

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: relative;

    &__logo{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 30px;
    }

    &__redes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        padding-right: 70px;
    }

}



nav ul li{
    display: inline;
}

li{
    font-size: 15px;
    padding: 20px;
    transition: font-size 0.6s, transform 0.6s;
}

li:hover{
    font-size: 25px;
    color: rgb(50, 199, 31);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Fin de encabezado */



// portada


#portadaId{
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    width: 100%;
    height: 45em;
    background-color: #0D0C0C;
}

.colum__izquierda{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "img1 texto1"
        "img2 img2";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 65% 35%;    
    background-color: #0D0C0C;

        &__texto{
        grid-area: texto1;
        color: aliceblue;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding: 3.125em;

            & h2{
                @include letra($titulo, 2em)
            }

            & p{
                @include letra($parrafo, 1em)
            }
    }
        &__foto{
        grid-area: img1;
        

            &__imagen1{
            width: 100%;
            height: 100%;
        }
    }

    &__fotofull{
    grid-area: img2;
        
        &__imagen2{
            width: 100%;
            height: 100%;
        }
    }
}


.colum__derecha{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "img3 img3"
        "img4 texto2";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35% 65%;    
    background-color: #0D0C0C;

    &__fotofull{
    grid-area: img3;
        
        &__imagen3{
            width: 100%;
            height: 100%;
        }
    }

        &__texto{
        grid-area: texto2;
        color: aliceblue;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding: 3.125em;

            & h2{
                @include letra($titulo, 2em)
            }

            & p{
                @include letra($parrafo, 1em)
            }

    }
        &__foto{
        grid-area: img4;
        

            &__imagen4{
            width: 100%;
            height: 100%;
        }
    }   
}


@media screen and (max-width: 1024px){
    #portadaId{
        font-size: 12.5px;
    }
}


@media screen and (max-width: 768px){
    #portadaId{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 600px;
    }

        .colum__izquierda{
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 50%;

            &__foto{
                width: 35%;
            }

            &__texto{
                width: 65%;
            }

                &__fotofull{
                    &__imagen2{
                        display: none;
                    }
                }
        }

        .colum__derecha{
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 50%;

            &__texto{
                width: 65%;
            }

            &__foto{
                width: 35%;
            }

            &__fotofull{
                &__imagen3{
                    display: none;
                }
            }
        }
    
}

// fin de portada

/* conocenos */

.nosotros{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 60px;

        &__conocenos{
            width: 410px;
            height: 363px;
            border: inset 5px rgb(228, 228, 228);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 80px;

            h3{
            @include letra($titulo, 1.6em)
            font-weight: normal;
        }

            #texto{
            @include letra($parrafo, 2em)
            
        }


    }
        &__texto{
            background-color: #ffffff;
            width: 680px;
            height: 368px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 30px 150px;

            & p{
                @include letra($parrafo, 1em)
            }
    }
    
}


/* fin de conocenos */

/* seccion nuestro chef */

.nuestroChef{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

        &__img{
        padding: 70px;

            #chef{
            width: 435px;
            height: 435px;
        }

    }

        &__texto{
        width: 540px;
        height: 540px;
        padding: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #ffffff;

            h3{
            @include letra($titulo, 2.4em)
        }

            p{
            @include letra($parrafo, 1em)
        }
    }
}

/* fin de nuestro chef */

/* menu */

.carta{
    height: 800px;
    margin: 60px;
    display: grid;
    grid-template-areas:
        ". texto ." 
        ". lista ."
        ". lista ."
        ". lista ."
        ". lista .";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;

        &__texto{
        grid-area: texto;
        background-color: #ffffff;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
            
            & h3{
                @include letra($titulo, 2.7em)
            }
    }

        &__nav{
        height: 80px;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }

        &__link{
        margin: 15px;
    }

        &__lista{
        grid-area: lista;
        background-color: rgb(255, 255, 255);
        border: inset 5px rgb(97, 97, 97);
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: space-around;
        justify-items: center;
        padding: 30px;
    }
}


/* fin de menu */

/* contactanos */

.contacto{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 50px;

        &__caja{
        height: 430px;
        width: 100%;
        background-image: url(../img/pexels-anna-tis-10156916.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

        &__info{
        width: 220px;
        height: 150px;
        background-color: #ffffff;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;

            &__lugar{
                @extend .contacto__info;
                border-style: dotted;
            }

            &__horario{
                @extend .contacto__info;
                border-radius: 10%;
            }
    }


        &__formulario{
        width: 620px;
        height: 260px;
        border: inset 2px rgb(56, 37, 0);
        background-color: #f1f1f1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: black;
        padding: 50px;
    }
}




/* fin de contactanos */


/* footer */

.footer__redes{
    height: 100px;
    background-color: #0D0C0C;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    padding: 15px;
}


.footer__iconos{
    display: flex;
    flex-flow: row wrap;
}
