.color--titulo {
  color: #FFFFFF;
}

.color--parrafo {
  color: #F2F2F2;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

/* Encabezado */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: relative;
}

.menu__logo {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.menu__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding-right: 70px;
}

nav ul li {
  display: inline;
}

li {
  font-size: 15px;
  padding: 20px;
  -webkit-transition: font-size 0.6s, -webkit-transform 0.6s;
  transition: font-size 0.6s, -webkit-transform 0.6s;
  transition: font-size 0.6s, transform 0.6s;
  transition: font-size 0.6s, transform 0.6s, -webkit-transform 0.6s;
}

li:hover {
  font-size: 25px;
  color: #32c71f;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Fin de encabezado */
#portadaId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 16px;
  width: 100%;
  height: 45em;
  background-color: #0D0C0C;
}

.colum__izquierda {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img1 texto1" "img2 img2";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 65% 35%;
      grid-template-rows: 65% 35%;
  background-color: #0D0C0C;
}

.colum__izquierda__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto1;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.125em;
}

.colum__izquierda__texto h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.colum__izquierda__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

.colum__izquierda__foto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.colum__izquierda__foto__imagen1 {
  width: 100%;
  height: 100%;
}

.colum__izquierda__fotofull {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img2;
}

.colum__izquierda__fotofull__imagen2 {
  width: 100%;
  height: 100%;
}

.colum__derecha {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img3 img3" "img4 texto2";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  background-color: #0D0C0C;
}

.colum__derecha__fotofull {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.colum__derecha__fotofull__imagen3 {
  width: 100%;
  height: 100%;
}

.colum__derecha__texto {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto2;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.125em;
}

.colum__derecha__texto h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.colum__derecha__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

.colum__derecha__foto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img4;
}

.colum__derecha__foto__imagen4 {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  #portadaId {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 768px) {
  #portadaId {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 600px;
  }
  .colum__izquierda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 50%;
  }
  .colum__izquierda__foto {
    width: 35%;
  }
  .colum__izquierda__texto {
    width: 65%;
  }
  .colum__izquierda__fotofull__imagen2 {
    display: none;
  }
  .colum__derecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 50%;
  }
  .colum__derecha__texto {
    width: 65%;
  }
  .colum__derecha__foto {
    width: 35%;
  }
  .colum__derecha__fotofull__imagen3 {
    display: none;
  }
}

/* conocenos */
.nosotros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px;
}

.nosotros__conocenos {
  width: 410px;
  height: 363px;
  border: inset 5px #e4e4e4;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 80px;
}

.nosotros__conocenos h3 {
  font-family: "Great Vibes", cursive;
  font-size: 1.6em;
  font-weight: normal;
}

.nosotros__conocenos #texto {
  font-family: "Gideon Roman", cursive;
  font-size: 2em;
}

.nosotros__texto {
  background-color: #ffffff;
  width: 680px;
  height: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px 150px;
}

.nosotros__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

/* fin de conocenos */
/* seccion nuestro chef */
.nuestroChef {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nuestroChef__img {
  padding: 70px;
}

.nuestroChef__img #chef {
  width: 435px;
  height: 435px;
}

.nuestroChef__texto {
  width: 540px;
  height: 540px;
  padding: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
}

.nuestroChef__texto h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.4em;
}

.nuestroChef__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

/* fin de nuestro chef */
/* menu */
.carta {
  height: 800px;
  margin: 60px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". texto ."  ". lista ." ". lista ." ". lista ." ". lista .";
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
}

.carta__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carta__texto h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.7em;
}

.carta__nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carta__link {
  margin: 15px;
}

.carta__lista {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: lista;
  background-color: white;
  border: inset 5px #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  justify-items: center;
  padding: 30px;
}

/* fin de menu */
/* contactanos */
.contacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.contacto__caja {
  height: 430px;
  width: 100%;
  background-image: url(../img/pexels-anna-tis-10156916.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__info, .contacto__info__lugar, .contacto__info__horario {
  width: 220px;
  height: 150px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__info__lugar {
  border-style: dotted;
}

.contacto__info__horario {
  border-radius: 10%;
}

.contacto__formulario {
  width: 620px;
  height: 260px;
  border: inset 2px #382500;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 50px;
}

/* fin de contactanos */
/* footer */
.footer__redes {
  height: 100px;
  background-color: #0D0C0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
  padding: 15px;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
/*# sourceMappingURL=style.css.map */