.color--titulo {
  color: #FFFFFF;
}

.color--parrafo {
  color: #F2F2F2;
}

body {
  padding-top: 100px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Encabezado */
.menu {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.menu__logo {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.menu__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__nav__item {
  font-size: 16px;
  margin: 0px 10px;
}

.menu__nav__link {
  padding: 6px 10px;
  border-radius: 3px;
  color: #000000;
}

.menu__nav__link:hover {
  background-color: #2b2828;
  color: #f1f1f1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.menu__nav__toggle {
  color: #000000;
  background: none;
  border: none;
  font-size: 25px;
  padding: 0px 20px;
  display: none;
}

.menu__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding-right: 0px;
}

.menu__redes__icono {
  color: #000000;
}

/* Fin de encabezado */
#portadaId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 16px;
  width: 100%;
  height: 45em;
  background-color: #0D0C0C;
}

.colum__izquierda {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img1 texto1" "img2 img2";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 65% 35%;
      grid-template-rows: 65% 35%;
  background-color: #0D0C0C;
}

.colum__izquierda__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto1;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.125em;
}

.colum__izquierda__texto h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.colum__izquierda__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

.colum__izquierda__foto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.colum__izquierda__foto__imagen1 {
  width: 100%;
  height: 100%;
}

.colum__izquierda__fotofull {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img2;
}

.colum__izquierda__fotofull__imagen2 {
  width: 100%;
  height: 100%;
}

.colum__derecha {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img3 img3" "img4 texto2";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  background-color: #0D0C0C;
}

.colum__derecha__fotofull {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.colum__derecha__fotofull__imagen3 {
  width: 100%;
  height: 100%;
}

.colum__derecha__texto {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto2;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.125em;
}

.colum__derecha__texto h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.colum__derecha__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

.colum__derecha__foto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img4;
}

.colum__derecha__foto__imagen4 {
  width: 100%;
  height: 100%;
}

/* conocenos */
.nosotros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 16px;
  padding: 3.75em;
}

.nosotros__conocenos {
  width: 25.63em;
  height: 22.68em;
  border: inset 5px #e4e4e4;
  border-radius: 2%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5em;
}

.nosotros__conocenos h3 {
  font-family: "Great Vibes", cursive;
  font-size: 1.6em;
}

.nosotros__conocenos #texto {
  font-family: "Gideon Roman", cursive;
  font-size: 2em;
}

.nosotros__texto {
  background-color: #ffffff;
  width: 42.5em;
  height: 23em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.875em 9.375em;
}

.nosotros__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

/* fin de conocenos */
/* seccion nuestro chef */
.nuestroChef {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 16px;
}

.nuestroChef__img {
  padding: 4.375em;
}

.nuestroChef__img #chef {
  width: 27.1875em;
  height: 27.1875em;
  border-radius: 2%;
}

.nuestroChef__texto {
  width: 33.75em;
  height: 33.75em;
  padding: 5.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
}

.nuestroChef__texto h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.4em;
}

.nuestroChef__texto p {
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

/* fin de nuestro chef */
/* menu */
.carta {
  height: 50em;
  margin: 3.75em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". texto ."  ". lista ." ". lista ." ". lista ." ". lista .";
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
}

.carta__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carta__texto h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.7em;
}

.carta__nav {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carta__link {
  margin: 0.9375em;
  color: #000000;
}

.carta__lista {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: lista;
  background-color: white;
  border: inset 0.3125em #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  justify-items: center;
  padding: 1.875em;
  border-radius: 2%;
}

/* fin de menu */
/* contactanos */
.contacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125em;
}

.contacto__caja {
  height: 26.875em;
  width: 100%;
  background-image: url(../img/pexels-anna-tis-10156916.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__info {
  width: 13.75em;
  height: 9.375em;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10%;
}

/* fin de contactanos */
/* footer */
.footer__redes {
  height: 6.25em;
  background-color: #0D0C0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
  padding: 0.9375em;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (max-width: 1024px) {
  #portadaId {
    font-size: 12px;
  }
  #nosotrosId {
    font-size: 12px;
  }
  #chefId {
    font-size: 12px;
  }
  #cartaId {
    font-size: 12px;
  }
  #contactoId {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    height: 90px;
  }
  .menu__logo {
    width: 70px;
    height: 70px;
  }
  .menu__nav__item {
    font-size: 13px;
    margin: 0px 10px;
  }
  .menu__redes {
    display: none;
  }
  #portadaId {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 600px;
  }
  .colum__izquierda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 50%;
  }
  .colum__izquierda__foto {
    width: 35%;
  }
  .colum__izquierda__texto {
    width: 65%;
  }
  .colum__izquierda__fotofull__imagen2 {
    display: none;
  }
  .colum__derecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 50%;
  }
  .colum__derecha__texto {
    width: 65%;
  }
  .colum__derecha__foto {
    width: 35%;
  }
  .colum__derecha__fotofull__imagen3 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-top: 70px;
  }
  .menu {
    height: 70px;
  }
  .menu__logo {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .menu__nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
    position: fixed;
    top: 70px;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__nav__item {
    font-size: 16px;
    margin: 0px 10px;
  }
  .menu__nav__link {
    padding: 6px 10px;
    border-radius: 3px;
    color: #ffffff;
    line-height: 70px;
  }
  .menu__nav__link:hover {
    background: none;
    color: #d1cbcb;
  }
  .menu__nav__toggle {
    color: #000000;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0px 20px;
    display: block;
  }
  .menu__redes {
    display: none;
  }
  .menu .visible {
    left: 0;
  }
  #portadaId {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 450px;
    font-size: 10px;
  }
  .colum__izquierda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 50%;
  }
  .colum__izquierda__foto {
    width: 35%;
  }
  .colum__izquierda__texto {
    width: 65%;
  }
  .colum__izquierda__fotofull__imagen2 {
    display: none;
  }
  .colum__derecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 50%;
  }
  .colum__derecha__texto {
    width: 65%;
  }
  .colum__derecha__foto {
    width: 35%;
  }
  .colum__derecha__fotofull__imagen3 {
    display: none;
  }
  #nosotrosId {
    font-size: 10px;
  }
  #nosotrosId .nosotros__texto {
    padding: 4em;
  }
  #nosotrosId .nosotros__texto__parrafo {
    font-size: 0.85em;
  }
  .carta {
    font-size: 10px;
    height: 50em;
    margin: 1em;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". texto ."  "lista lista lista" "lista lista lista" "lista lista lista" "lista lista lista";
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  }
  .carta__texto {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: texto;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carta__texto h3 {
    font-family: "Great Vibes", cursive;
    font-size: 2.7em;
  }
  .carta__nav {
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .carta__link {
    margin: 0.9375em;
    color: #000000;
  }
  .carta__lista {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: lista;
    background-color: white;
    border: inset 0.3125em #616161;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    justify-items: center;
    padding: 1.875em;
    border-radius: 2%;
  }
  .carta__lista h4 {
    font-family: "Great Vibes", cursive;
    font-size: 2em;
  }
  .carta__lista p {
    font-family: "Gideon Roman", cursive;
    font-size: 1em;
  }
  #contactoId {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */